<div class="my-3 text-capitalize">
  <a
    href="/blogs/category/places"
    class="btn btn-primary btn-sm mb-1"
  >places</a>
  <a
    href="/blogs/category/inspiration"
    class="btn btn-success btn-sm mb-1"
  >inspiration</a>
  <a
    href="/blogs/category/culture"
    class="btn btn-danger btn-sm mb-1"
  >culture</a>
  <a
    href="/blogs/category/experience"
    class="btn btn-warning btn-sm mb-1"
  >experience</a>
</div>