
{{> _navbar}}

<div class="container" style="margin-top: 150px; min-height:85vh ;">
<div class="row">
 
  <div class="offset-md-2 col-md-8">
<div class="text-center pb-5">
   <p class="fw-bold fs-5">Hi! You can Create blog here If you wish to or You can go back to Home</p>

<p class="lead fw-bold fs-4"> " It's Your Wish " </p>
</div>
 <form action="authprofile" method="post" enctype="multipart/form-data"> 
      <div class="form-group pb-3">
          <label for="image" class="fw-bold pb-2 fs-6">Upload your profile image</label>
          <input  type="file" name="images" accept="image/*">
        </div> 
      
    <div class="form-group mb-4">
      <label for="title" class="fw-bold pb-2 fs-6">Tell something about you</label>
      <textarea
        required
        name="about"
        id="about"
        class="form-control text-field"
        style="height: 125px !important ;"
        maxlength="200"
      > </textarea>
    </div>
  <div class="form-group pb-5">
          <a href="/" class="button small">Cancel</a>
          <button type="submit" class="button  small">Save</button>
        </div>
  </form>
  </div>
 

</div>


</div>